params {
    input_parquet             = null
    input_parquet_samplesheet = null
    input_pileup_samplesheet  = null
    input_vcf_samplesheet     = null
    input_txt_samplesheet     = null
    input_bam_samplesheet     = null
    input_potential_snps      = null
    fasta                     = null
    fasta_index               = null
    filter_mode               = "hard_filter"
    threshold                 = 0.5
    run_lr_calculator         = false
    lr_mode                   = "cfDNA"
    outdir                    = null
    min_raw_depth             = 0
    min_model_depth           = 0
    known_sites_tsv           = null
}

process {
    executor = 'slurm'

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SPLIT_PARQUET_BY_SAMPLE' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        memory    = 256.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'EXTRACT_SNP_FROM_PARQUET' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        memory    = 128.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'CALCULATE_LR' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        memory    = 128.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'VCF_TO_PILEUP' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        memory    = 128.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'MERGE_LR_OUTPUT' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        memory    = 128.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'BAM_TO_PILEUP' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 8
        memory    = 16.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'SPLIT_BAM_BY_TXT' {
        container = "${baseDir}/images/common_tools.sif"
        publishDir = [ enabled: false ]
        cpus      = 8
        memory    = 16.GB
        time      = 24.h
        queue     = 'cn-long'
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2,/appsnew"
    }
}

manifest {
    author = 'vanreality'
    name = 'snp_nipt'
    description = ''
    version = 'dev1.0'
}