profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /gpfs1,/gpfs3,/home"
    }
}

process {
    executor = 'slurm'
    clusterOptions = '-A chengqiyi_g1 --qos=chengqiyicnl'
    
    withName: 'CALCULATE_LR' {
        ext.args = "--ff-min 0.01 --ff-max 0.5 --ff-step 0.01 --fast"
    }
}

params {
    lr_mode = "cfDNA"
    known_sites_tsv = '../../data/220k_panel/bam_to_pileup/merged_probes_ChinaMAP_filtered.tsv'
    known_sites_bed = '../../data/220k_panel/bam_to_pileup/220k_probes_snps.bed'
    fasta = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa'
    fasta_index = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa.fai'
}