profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /gpfs1,/gpfs3,/home"
    }
}

process {
    executor = 'slurm'
    clusterOptions = '-A chengqiyi_g1 --qos=chengqiyicnl'
    
    withName: 'CALCULATE_LR' {
        ext.args = "--ff-min 0.01 --ff-max 0.5 --ff-step 0.01 --fast"
    }
}

params {
    lr_mode = "cfDNA"
    known_sites_tsv = '../ChinaMAP_all_chrs_filtered.tsv'
    known_sites_bed = '../ChinaMAP_all_chrs_filtered.bed'
    fasta = '../hg38_only_chromsomes.fa'
    fasta_index = '../hg38_only_chromsomes.fa.fai'
}