profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /gpfs1,/gpfs3,/home"
    }
}

process {
    executor = 'slurm'
    clusterOptions = '-A chengqiyi_g1 --qos=chengqiyicnl'
    
    withName: 'CALCULATE_LR' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        queue     = 'cn-long'
        ext.args = "--ff-min 0.01 --ff-max 0.5 --ff-step 0.01 --fast"
    }

    withName: 'VCF_TO_PILEUP' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        queue     = 'cn-long'
    }

    withName: 'MERGE_LR_OUTPUT' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        queue     = 'cn-long'
    }

    withName: 'BAM_TO_PILEUP' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 8
        queue     = 'cn-long'
    }
}

params {
    lr_mode = "cfDNA"
    known_sites_tsv = '../ChinaMAP_all_chrs_filtered.tsv'
    known_sites_bed = '../ChinaMAP_all_chrs_filtered.bed'
    fasta = '../hg38_only_chromsomes.fa'
    fasta_index = '../hg38_only_chromsomes.fa.fai'
}