params {
    lr_mode = "cfDNA"
    known_sites_tsv = '../../data/220k_panel/bam_to_pileup/existing_snps_plus_additional_snps_in_220kprobes.tsv'
    fasta = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa'
    fasta_index = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa.fai'
    min_raw_depth = 30
}

process {
    withName: 'CALCULATE_LR' {
        ext.args = "--ff-min 0 --ff-max 0.5 --ff-step 0.001 --fast --beta-binomial"
    }
}