params {
    lr_mode = "cfDNA"
    known_sites_tsv = '../../data/220k_panel/bam_to_pileup/existing_snps_plus_additional_snps_in_220kprobes.tsv'
    fasta = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa'
    fasta_index = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa.fai'
}

process {
    withName: 'SPLIT_BAM_BY_TXT' {
        publishDir = [ enabled: true ]
    }
}
