params {
    lr_mode = "cfDNA"
    known_sites_tsv = '../../data/220k_panel/bam_to_pileup/merged_probes_ChinaMAP_filtered.tsv'
    known_sites_bed = '../../data/220k_panel/bam_to_pileup/220k_probes_snps.bed'
    fasta = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa'
    fasta_index = '../../data/220k_panel/bam_to_pileup/hg38_only_chromsomes.fa.fai'
}