process {
    withName: 'BUILD_ZSCORE_REFERENCE' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 32
        memory    = 128.GB
        time      = 24.h
        queue     = 'cn-long'
    }

    withName: 'CALCULATE_ZSCORE' {
        container = "${baseDir}/images/common_tools.sif"
        cpus      = 4
        memory    = 8.GB
        time      = 2.h
        queue     = 'cn-long'
    }
}

params {
    input_reference_pileup_samplesheet = null
    input_zscore_pileup_samplesheet = null
    reference_maternal_genotype = null
    reference_fetal_genotype = null
    reference_pileup_list = null
}
